
<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Register</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"><tr>
    <a class="py-2 d-none d-md-inline-block" href="{{ url_for('profile') }}"><i class="fas fa-sign-out-alt"></i> Назад</a>
</tr>
 </head>
 <body style="background-color:#ccc;">
 <div class="container">
   <div class="row main">
    <div class="main-login main-center">
    <h5>Регистрация нового пользователя</h5>
     <form action="{{ url_for('register') }}" method="post" autocomplete="off">
      <div class="form-group">
       <label for="name" class="cols-sm-2 control-label">Ваше имя</label>
       <div class="cols-sm-10">
        <div class="input-group">
         <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
         <input type="text" class="form-control" name="fullname" id="fullname"  placeholder="Введите свое имя "/>
        </div>
       </div>
      </div>
      <div class="form-group">
       <label for="email" class="cols-sm-2 control-label">Ваша почта</label>
       <div class="cols-sm-10">
        <div class="input-group">
         <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
         <input type="text" class="form-control" name="email" id="email"  placeholder="Введите Эл.Почту"/>
        </div>
       </div>
      </div>
      <div class="form-group">
       <label for="username" class="cols-sm-2 control-label">Логин</label>
       <div class="cols-sm-10">
        <div class="input-group">
         <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
         <input type="text" class="form-control" name="username" id="username" placeholder="Введите логин" required>
        </div>
       </div>
      </div>

      <div class="form-group">
       <label for="password" class="cols-sm-2 control-label">Пароль</label>
       <div class="cols-sm-10">
        <div class="input-group">
         <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
         <input type="password" class="form-control" name="password" placeholder="Password" id="password" required  placeholder="Введите пароль"/>
        </div>
       </div>
      </div>

       <div class="form-group">
       <label for="password" class="cols-sm-2 control-label">Роль</label>
       <div class="cols-sm-10">
        <div class="input-group">

         <input type="text" name="city" list="cityname" id="role">
            <datalist id="cityname">
             <option value="Администратор">
             <option value="Пользователь с правами администратора">
             <option value="Рядовой пользователь">
         </datalist>
        </div>
       </div>
      </div>
<input type="submit" value="Register" class="form-control btn btn-primary " name="">
       <p style="padding:5px;">
      <div class="form-group ">
        {% with messages = get_flashed_messages()  %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>

        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}


      </div>

     </form>
    </div>
   </div>
  </div>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 </body>
</html>